{% load blog_tags %}
<article class="border-bottom">
    <header>
        <h1>
            {% if isindex %}
                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
            {% else %}
                {{ article.title }}
            {% endif %}
        </h1>

        <!-- <div class="comments-link">
            {% if article.comment_status == "o" and open_site_comment %}
                <a href="{{ article.get_absolute_url }}#comments" class="ds-thread-count" data-thread-key="3815" rel="nofollow">
                    <span class="leave-reply">
                    {% if article.comment and article.comment_set.count %}
                        {{ article.comment_set.count }}个评论
                    {% else %}
                        发表评论
                    {% endif %}
                    </span>
                </a>
            {% endif %}
            <div style="float:right">
                {{ article.views }} views
            </div>
        </div> -->

        <!-- <br/>
        {% if article.type == 'a' %}
            {% if not isindex %}
                {% load_breadcrumb article %}
            {% endif %}
        {% endif %} -->
    </header>

    <div>
        {% if isindex %}
            {{ article.body|escape|custom_markdown|truncatechars_content }}
            <p class='read-more'>
            <a href='{{ article.get_absolute_url }}'>Read more</a></p>
        {% else %}
            {{ article.body|custom_markdown }}
        {% endif %}
    </div>
    {% comment %}{% load_article_metas article user %} {% endcomment %}
</article>