{% extends 'share_layout/base.html' %}
{% load blog_tags %}
{% block header %}
    <title>{{ article.title }} | {{ SITE_DESCRIPTION }}</title>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ article.title }}"/>

    <meta property="og:description" content="{{ article.body|custom_markdown|striptags|truncatewords:1 }}"/>
    <meta property="og:url"
          content="{{ article.get_full_url }}"/>
    <meta property="article:published_time" content="{% datetimeformat article.pub_time %}"/>
    <meta property="article:modified_time" content="{% datetimeformat article.pub_time %}"/>
    <meta property="article:author" content="{{ article.author.get_full_url }}"/>
    <meta property="article:section" content="{{ article.category.name }}"/>
    {% for t in article.tags.all %}
        <meta property="article:tag" content="{{ t.name }}"/>
    {% endfor %}
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>

    <meta name="description" content="{{ article.body|custom_markdown|striptags|truncatewords:1 }}"/>
    {% if article.tags %}
        <meta name="keywords" content="{{ article.tags.all|join:"," }}"/>
    {% else %}
        <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    {% endif %}
    <style type="text/css">
        .clearfix:after {
            content: '.';
            display: block;
            height: 0;
            clear: both;
            overflow: hidden;
            visibility: hidden;
        }
    </style>
{% endblock %}
{% block content %}
<div>
    {% load_article_detail article False user %}
    {% if article.type == 'a' %}
    <div class="parent clearfix border-bottom">
        <div class="left" style="float: left;width: 70px;">
            <p>文章导航</p>
        </div>
        <div class="right" style="margin-left: 70px;">
            <ul style="float: right;">
                {% if prev_article %}
                <li><a href="{{ prev_article.get_absolute_url }}">上一篇：{{ prev_article.title }}</a></li>
                {% endif %}
                {% if next_article %}
                <li><a href="{{ next_article.get_absolute_url }}">下一篇：{{ next_article.title }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
<div>
    {% if article.comment_status == "o" and OPEN_SITE_COMMENT %}
    {% comment %}
        {% load comments_tags %}
        {% load_post_comment article from %}
    {% endcomment %}
    {% include 'comments/tags/comment_list.html' %}
    {% if user.is_authenticated %}
        {% include 'comments/tags/post_comment.html' %}
    {% else %}
        <div class="comments-area">
            <h3 class="comment-meta">您还没有登录，请您<a
                    href="{% url "account:login" %}?next={{ request.get_full_path }}">登录</a>后发表评论。</h3>
            {% load oauth_tags %}
            {% load_oauth_applications request %}
        </div>
    {% endif %}
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
    {% load_sidebar user %}
{% endblock %}
